-
    var recentlyViewed = [
        {
            img: `${pathContentImg}books-istrebitel-big.jpg`,
            score: 3.9,
            author: 'Быков Д.',
            title: 'Истребитель',
            description: 'Роман о советских летчиках, "соколах Сталина"',
            link: '#',
            pagesCount: 576,
        },
        {
            img: `${pathContentImg}book-feelings-of-shame.jpg`,
            score: 4.1,
            author: 'Харари Ю.',
            title: 'Чувство стыда',
            description: 'Это чувство сидит глубоко в нас, о нем не принято распространяться и обсуждать с близкими',
            link: '#',
            pagesCount: 170,
        },
        {
            img: `${pathContentImg}book-institute.jpg`,
            score: 4.4,
            author: 'Кинг С.',
            title: 'Вторая жизнь Уве',
            description: 'Откуда берутся зануды и склочники? Внутри зреет обида на мир',
            link: '#',
            pagesCount: 384,
        },
        {
            img: `${pathContentImg}book-transhumanism.jpg`,
            score: 3.9,
            author: 'Пелевин В.',
            title: 'Transhumanism inc.',
            description: 'Откуда берутся зануды и склочники? Внутри зреет обида на мир',
            link: '#',
            pagesCount: 608,
        },
    ]