extends layout/layout

block variables
  - var title = 'Каталог книг'
  - var pageClass = "catalog-page"
  - var pathContentImg = 'static/images/content/'

block content
  main(class=pageClass)
    section.breadcrumbs
      .container
        include ./modules/breadcrumbs
    include modules/catalog/catalog-section