-
    var newBooks = [
        {
          img: `${pathContentImg}a-life-of-pleasure.jpg`,
          score: 3.5,
            author: 'Палиено А.',
            title: 'Жизнь в удовольствие',
            description: 'Автор собрал в этой книге все свои знания, актуальные в современном мире',
            link: '#',
            pagesCount: 208,
        },
        {
          img: `${pathContentImg}book-kingdoms.jpg`,
          score: 4.8,
            author: 'Несбё Ю.',
            title: 'Королевство',
            description: 'В норвежском городке, затерянном в горах, течет сонная, мирная жизнь',
            link: '#',
            pagesCount: 576,
        },
        {
          img: `${pathContentImg}book-transhumanism.jpg`,
          score: 3.9,
            author: 'Пелевин В.',
            title: 'Transhumanism inc.',
            description: 'В будущем богатые люди смогут отделить свой мозг от старящегося тела',
            link: '#',
            pagesCount: 608,
        },
        {
          img: `${pathContentImg}book-feelings-of-shame.jpg`,
          score: 3.9,
            author: 'Санд И.',
            title: 'Чувство стыда',
            description: 'Это чувство сидит глубоко в нас, о нем не принято распространяться и обсуждать с близкими',
            link: '#',
            pagesCount: 608,
        },
    ]