-
    var books = [
        {
            img: `${pathContentImg}books-anxious-people.jpg`,
            score: 5.0,
            author: 'Бакман Ф.',
            title: 'Тревожные люди',
            description: 'Целая галерея уязвимых персонажей, тонко подмеченная Бакманом человеческая природа',
            link: '#',
            pagesCount: 416,
        },
        {
            img: `${pathContentImg}book-sapiens.jpg`,
            score: 4.9,
            author: 'Харари Ю.',
            title: 'Sapiens',
            description: 'Краткая история человечества. Какое будущее нас ожидает? Кто наши предки?',
            link: '#',
            pagesCount: 520,
        },
        {
            img: `${pathContentImg}book-institute.jpg`,
            score: 4.8,
            author: 'Кинг С.',
            title: 'Институт',
            description: 'Бежать невозможно. Будущее предопределено. Загадочная Дальняя половина Института',
            link: '#',
            pagesCount: 608,
        },
        {
            img: `${pathContentImg}book-normal-peoples.jpg`,
            score: 4.7,
            author: 'Руни С.',
            title: 'Нормальные люди',
            description: 'О желании ощутить власть над другим человеком и одновременно всецело принадлежать ему',
            link: '#',
            pagesCount: 288,
        },
    ]